# Node modules
node_modules/

# Development source
src/

# Git
.git/

# IDE/editor settings
.gitignore
.prettierrc

# Configurations and logs
jest.config.ts
.watchmanconfig
bun.lockb

# TypeScript configuration
tsconfig.json

# Environment and local files
.env

# Exclude specific files in dist/
dist/jest.config.*
dist/src/setupTests.*

# Exclude all test files in dist/src/hooks/
dist/src/hooks/**/*.test.*

# Ensure that other files in dist/ are included
!dist/
!dist/**/*  # Include all files in dist/ except those specifically excluded above
