# Node modules
node_modules/

# Development source
src/

# Git
.git/

# IDE/editor settings
.gitignore
.prettierrc

# Configurations and logs
jest.config.ts
.watchmanconfig
bun.lockb

# TypeScript configuration
tsconfig.json

# Environment and local files
.env


dist/jest.config.*
dist/src/setupTests.*

dist/src/hooks/**/*.test.ts
dist/src/hooks/**/*.test.tsx
